.header {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 20px;
}

.btn {
  background-color: #d3d3d3;
  height: 25px;
  width: 100px;
  margin-left: 15px;
  border-radius: 6px;
}
